/* static/style.css */

/* Reset some default styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    color: #e4d50b; /* Set default text color to light gray */
  }
  
  /* Set background image */
  body {
/*     background-image: url('/static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #ff0000;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .clear-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .clear-button:hover {
    background-color: #cc0000;
  }
  
